# Data Preparation

## Import Libraries

In [2]:
import numpy as np
import pandas as pd

## Import Data

In [3]:
loan_data_backup = pd.read_csv('E:/My Projects/DATA SETS/Loan_Data/loan_data_2007_2014.csv')

C:\Users\Himanshu Choudhary\AppData\Local\Temp\ipykernel_19948\3763492176.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv('E:/My Projects/DATA SETS/Loan_Data/loan_data_2007_2014.csv')

In [4]:
loan_data = loan_data_backup.copy()

## Explore Data

In [42]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,False,False,False,False,False,False,False,False,True,False
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,False,False,False,False,False,False,False,False,True,False
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,False,False,False,False,False,False,False,False,True,False
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,False,False,False,False,False,False,False,False,True,False
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,False,False,False,False,False,False,False,False,True,False

In [43]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'earliest_cr_line_date',
       'mths_since_earliest_cr_line', 'term_int', 'issue_d_date',
       'mths_since_issue_d', 'grade:A', 'grade:B', 'grade:C', 'grade:D',
       'grade:E', 'grade:F', 'grade:G', 'sub_grade:A1', 'sub_grade:A2',
       'sub_grade:A3', 'sub_grade:A4', 'sub_grade:A5', 'sub_grade:B1',
       'sub_grade:B2', 'sub_grade:B3', 'sub_grade:B4', 'sub_grade:B5',
       'sub_grade:C1', 'sub_grade:C2', 'sub_grade:C3', 'sub_grade:C4',
       'sub_grade:C5', 'sub_grade:D1', 'sub_grade:D2', 'sub_grade:D3',
       'sub_grade:D4', 'sub_grade:D5', 'sub_grade:E1', 'sub_grade:E2',
       'sub_grade:E3', 'sub_grade:E4', 'sub_grade:E5', 'sub_grade:F1',
       'sub_grade:F2', 'sub_grade:F3', 'sub_grade:F4', 'sub_grade:F5',
       'sub_grade:G1', 'sub_grade:G2', 'sub_grade:G3', 'sub_grade:G4',
       'sub_grade:G5', 'home_ownership:ANY', 'home_ownership:MORTGAGE',
       'home_ownership:NONE', 'home_ownership:OTHER',
       'home_ownership:OWN', 'home_ownership:RENT',
       'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f',
       'initial_list_status:w'], dtype=object)

In [44]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Columns: 207 entries, Unnamed: 0 to initial_list_status:w
dtypes: bool(126), datetime64[ns](2), float64(49), int64(8), object(22)
memory usage: 344.2+ MB

## General Preprocessing

### Preprocessing few continuous variables

In [45]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [46]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

In [47]:
type(loan_data['emp_length_int'][0])

str

In [48]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [49]:
type(loan_data['emp_length_int'][0])

numpy.float64

* Working with " earliest_cr_line" column

In [50]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [51]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')

In [52]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']

0        14294 days
1         9091 days
2         8146 days
3        10246 days
4        10277 days
            ...
466280    7630 days
466281    9760 days
466282    8116 days
466283    7689 days
466284    8785 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [54]:
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']).dt.days / 30.44))

In [55]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        314.482430
std          93.974829
min        -537.000000
25%         258.000000
50%         300.000000
75%         360.000000
max         662.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [56]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -462.0
1770             Sep-68            2068-09-01                       -534.0
2799             Sep-64            2064-09-01                       -486.0
3282             Sep-67            2067-09-01                       -522.0
3359             Feb-65            2065-02-01                       -491.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -526.0
464260           Jul-66            2066-07-01                       -508.0
465100           Oct-67            2067-10-01                       -523.0
465500           Sep-67            2067-09-01                       -522.0
465655           Jan-56            2056-01-01                       -382.0

[1169 rows x 3 columns]

In [57]:
from datetime import datetime, timedelta

def adjust_year(dt):
    return dt.replace(year=dt.year - 100)

# Filter the rows where 'mnths_since_earliest_cr_line' is less than 0
mask = loan_data['mths_since_earliest_cr_line'] < 0

# Apply the adjust_year function to the selected rows and update the DataFrame in place
loan_data.loc[mask, 'earliest_cr_line_date'] = loan_data.loc[mask, 'earliest_cr_line_date'].apply(adjust_year)

# Converting into months

loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']).dt.days / 30.44))

In [58]:
#loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

In [59]:
min(loan_data['mths_since_earliest_cr_line'])

148.0

### Similarlary for columns "term"

In [60]:
loan_data['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
             ...
466280     60 months
466281     60 months
466282     60 months
466283     36 months
466284     36 months
Name: term, Length: 466285, dtype: object

In [61]:
loan_data['term'].describe()

count         466285
unique             2
top        36 months
freq          337953
Name: term, dtype: object

In [62]:
loan_data['term_int'] = loan_data['term'].str.replace(' months', '')

In [63]:
loan_data['term_int']

0          36
1          60
2          36
3          36
4          60
         ...
466280     60
466281     60
466282     60
466283     36
466284     36
Name: term_int, Length: 466285, dtype: object

In [64]:
type(loan_data['term_int'][25])

str

In [65]:
loan_data['term_int'] = pd.to_numeric(loan_data['term'].str.replace(' months', ''))
loan_data['term_int']

0         36
1         60
2         36
3         36
4         60
          ..
466280    60
466281    60
466282    60
466283    36
466284    36
Name: term_int, Length: 466285, dtype: int64

In [66]:
type(loan_data['term_int'][0])

numpy.int64

In [67]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [68]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['issue_d_date']).dt.days / 30.44))
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean        126.255187
std          14.340154
min         111.000000
25%         116.000000
50%         122.000000
75%         132.000000
max         201.000000
Name: mths_since_issue_d, dtype: float64

### Preprocessing few discrete variables

In [69]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Columns: 207 entries, Unnamed: 0 to initial_list_status:w
dtypes: bool(126), datetime64[ns](2), float64(49), int64(8), object(22)
memory usage: 344.2+ MB

In [70]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix = 'grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['home_ownership'], prefix = 'home_ownership', prefix_sep = ':'),
                     pd.get_dummies(loan_data['verification_status'], prefix = 'verification_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['purpose'], prefix = 'purpose', prefix_sep = ':'),
                     pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state', prefix_sep = ':'),
                     pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status', prefix_sep = ':')]

In [71]:
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [72]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [73]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis = 1)

In [81]:
loan_data.shape

(466285, 333)