# Data Preparation

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import Data

In [2]:
loan_data_backup = pd.read_csv('E:/My Projects/DATA SETS/Loan_Data/loan_data_2007_2014.csv')

C:\Users\Himanshu Choudhary\AppData\Local\Temp\ipykernel_11668\3763492176.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv('E:/My Projects/DATA SETS/Loan_Data/loan_data_2007_2014.csv')

In [ ]:
loan_data = loan_data_backup.copy()

## Explore Data

In [ ]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
loan_data.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [ ]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

## General Preprocessing

### Preprocessing few continuous variables

In [ ]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [ ]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('+ years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a',  str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

In [ ]:
type(loan_data['emp_length_int'][0])

str

In [ ]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [ ]:
type(loan_data['emp_length_int'][0])

numpy.float64

* Working with " earliest_cr_line" column

In [ ]:
loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [ ]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')

In [ ]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']

0        14294 days
1         9091 days
2         8146 days
3        10246 days
4        10277 days
            ...
466280    7630 days
466281    9760 days
466282    8116 days
466283    7689 days
466284    8785 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [ ]:
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']).dt.days / 30.44))

In [ ]:
loan_data['mths_since_earliest_cr_line'].describe()

count    466256.000000
mean        314.482430
std          93.974829
min        -537.000000
25%         258.000000
50%         300.000000
75%         360.000000
max         662.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [ ]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -462.0
1770             Sep-68            2068-09-01                       -534.0
2799             Sep-64            2064-09-01                       -486.0
3282             Sep-67            2067-09-01                       -522.0
3359             Feb-65            2065-02-01                       -491.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -526.0
464260           Jul-66            2066-07-01                       -508.0
465100           Oct-67            2067-10-01                       -523.0
465500           Sep-67            2067-09-01                       -522.0
465655           Jan-56            2056-01-01                       -382.0

[1169 rows x 3 columns]

In [ ]:
from datetime import datetime, timedelta

def adjust_year(dt):
    return dt.replace(year=dt.year - 100)

# Filter the rows where 'mnths_since_earliest_cr_line' is less than 0
mask = loan_data['mths_since_earliest_cr_line'] < 0

# Apply the adjust_year function to the selected rows and update the DataFrame in place
loan_data.loc[mask, 'earliest_cr_line_date'] = loan_data.loc[mask, 'earliest_cr_line_date'].apply(adjust_year)

# Converting into months

loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['earliest_cr_line_date']).dt.days / 30.44))

In [ ]:
#loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

In [ ]:
min(loan_data['mths_since_earliest_cr_line'])

148.0

### Similarlary for columns "term"

In [ ]:
loan_data['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
             ...
466280     60 months
466281     60 months
466282     60 months
466283     36 months
466284     36 months
Name: term, Length: 466285, dtype: object

In [ ]:
loan_data['term'].describe()

count         466285
unique             2
top        36 months
freq          337953
Name: term, dtype: object

In [ ]:
loan_data['term_int'] = loan_data['term'].str.replace(' months', '')

In [ ]:
loan_data['term_int']

0          36
1          60
2          36
3          36
4          60
         ...
466280     60
466281     60
466282     60
466283     36
466284     36
Name: term_int, Length: 466285, dtype: object

In [ ]:
type(loan_data['term_int'][25])

str

In [ ]:
loan_data['term_int'] = pd.to_numeric(loan_data['term'].str.replace(' months', ''))
loan_data['term_int']

0         36
1         60
2         36
3         36
4         60
          ..
466280    60
466281    60
466282    60
466283    36
466284    36
Name: term_int, Length: 466285, dtype: int64

In [ ]:
type(loan_data['term_int'][0])

numpy.int64

In [ ]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [ ]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2024-02-20') - loan_data['issue_d_date']).dt.days / 30.44))
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean        126.255187
std          14.340154
min         111.000000
25%         116.000000
50%         122.000000
75%         132.000000
max         201.000000
Name: mths_since_issue_d, dtype: float64

### Preprocessing few discrete variables

In [ ]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 81 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
 75  emp_length_int               445277 non-null  float64
 76  earliest_cr_line_date        466256 non-null  datetime64[ns]
 77  mths_since_earliest_cr_line  466256 non-null  float64
 78  term_int                     466285 non-null  int64
 79  issue_d_date                 466285 non-null  datetime64[ns]
 80  mths_since_issue_d           466285 non-null  float64
dtypes: datetime64[ns](2), float64(49), int64(8), object(22)
memory usage: 288.2+ MB

In [ ]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix = 'grade', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['home_ownership'], prefix = 'home_ownership', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['verification_status'], prefix = 'verification_status', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['purpose'], prefix = 'purpose', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state', prefix_sep = ':',drop_first=True),
                     pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status', prefix_sep = ':',drop_first=True)]

In [ ]:
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [ ]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [ ]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis = 1)

In [ ]:
loan_data.shape

(466285, 199)

### Check for missing values and clean

In [ ]:
pd.options.display.max_rows = None

def report_missing_data(df):

    missing_values=df.isnull().sum().sort_values()
    missing_values=missing_values[missing_values>0]


    missing_perc=missing_values/len(df)*100
    missing_perc=missing_perc[missing_perc>0]

    missing_val_df=pd.DataFrame({'missing_values':missing_values,'missing_value_percentage':missing_perc})
    
    return missing_val_df

In [ ]:
report_missing_data(loan_data)

                             missing_values  missing_value_percentage
annual_inc                                4                  0.000858
title                                    21                  0.004504
earliest_cr_line_date                    29                  0.006219
total_acc                                29                  0.006219
inq_last_6mths                           29                  0.006219
pub_rec                                  29                  0.006219
delinq_2yrs                              29                  0.006219
mths_since_earliest_cr_line              29                  0.006219
acc_now_delinq                           29                  0.006219
earliest_cr_line                         29                  0.006219
open_acc                                 29                  0.006219
last_credit_pull_d                       42                  0.009007
collections_12_mths_ex_med              145                  0.031097
revol_util                              340                  0.072917
last_pymnt_d                            376                  0.080637
emp_length_int                        21008                  4.505399
emp_length                            21008                  4.505399
emp_title                             27588                  5.916553
total_rev_hi_lim                      70276                 15.071469
tot_coll_amt                          70276                 15.071469
tot_cur_bal                           70276                 15.071469
next_pymnt_d                         227214                 48.728567
mths_since_last_delinq               250351                 53.690554
desc                                 340304                 72.981975
mths_since_last_major_derog          367311                 78.773926
mths_since_last_record               403647                 86.566585
inq_last_12m                         466285                100.000000
verification_status_joint            466285                100.000000
dti_joint                            466285                100.000000
annual_inc_joint                     466285                100.000000
open_il_12m                          466285                100.000000
open_il_24m                          466285                100.000000
mths_since_rcnt_il                   466285                100.000000
open_il_6m                           466285                100.000000
total_bal_il                         466285                100.000000
open_rv_12m                          466285                100.000000
open_rv_24m                          466285                100.000000
max_bal_bc                           466285                100.000000
all_util                             466285                100.000000
inq_fi                               466285                100.000000
total_cu_tl                          466285                100.000000
il_util                              466285                100.000000
open_acc_6m                          466285                100.000000

Few columns are missing 100% of data so we can drop them

In [ ]:
# Retrieving names of columns which are missing 100% of data
feature_to_be_dropped=report_missing_data(loan_data)[report_missing_data(loan_data)['missing_value_percentage']==100].index

feature_to_be_dropped

Index(['inq_last_12m', 'verification_status_joint', 'dti_joint',
       'annual_inc_joint', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'open_il_6m', 'total_bal_il', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'il_util',
       'open_acc_6m'],
      dtype='object')

In [ ]:
loan_data.drop(feature_to_be_dropped,axis=1,inplace=True)

In [ ]:
loan_data.shape

(466285, 182)

In [ ]:
report_missing_data(loan_data)

                             missing_values  missing_value_percentage
annual_inc                                4                  0.000858
title                                    21                  0.004504
delinq_2yrs                              29                  0.006219
earliest_cr_line                         29                  0.006219
earliest_cr_line_date                    29                  0.006219
acc_now_delinq                           29                  0.006219
total_acc                                29                  0.006219
pub_rec                                  29                  0.006219
mths_since_earliest_cr_line              29                  0.006219
inq_last_6mths                           29                  0.006219
open_acc                                 29                  0.006219
last_credit_pull_d                       42                  0.009007
collections_12_mths_ex_med              145                  0.031097
revol_util                              340                  0.072917
last_pymnt_d                            376                  0.080637
emp_length                            21008                  4.505399
emp_length_int                        21008                  4.505399
emp_title                             27588                  5.916553
tot_cur_bal                           70276                 15.071469
tot_coll_amt                          70276                 15.071469
total_rev_hi_lim                      70276                 15.071469
next_pymnt_d                         227214                 48.728567
mths_since_last_delinq               250351                 53.690554
desc                                 340304                 72.981975
mths_since_last_major_derog          367311                 78.773926
mths_since_last_record               403647                 86.566585

In [ ]:
# 'Total revolving high credit/ credit limit', so it makes sense that the missing values are equal to funded_amnt.
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

C:\Users\Himanshu Choudhary\AppData\Local\Temp\ipykernel_8448\372944393.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)

1. For annual income (‘annual_inc’), Let's replace the missing values with the mean of the non-missing values of the variable

In [ ]:
report_missing_data(loan_data)

                             missing_values  missing_value_percentage
annual_inc                                4                  0.000858
title                                    21                  0.004504
delinq_2yrs                              29                  0.006219
total_acc                                29                  0.006219
earliest_cr_line                         29                  0.006219
inq_last_6mths                           29                  0.006219
open_acc                                 29                  0.006219
pub_rec                                  29                  0.006219
acc_now_delinq                           29                  0.006219
mths_since_earliest_cr_line              29                  0.006219
earliest_cr_line_date                    29                  0.006219
last_credit_pull_d                       42                  0.009007
collections_12_mths_ex_med              145                  0.031097
revol_util                              340                  0.072917
last_pymnt_d                            376                  0.080637
emp_length                            21008                  4.505399
emp_length_int                        21008                  4.505399
emp_title                             27588                  5.916553
tot_cur_bal                           70276                 15.071469
tot_coll_amt                          70276                 15.071469
next_pymnt_d                         227214                 48.728567
mths_since_last_delinq               250351                 53.690554
desc                                 340304                 72.981975
mths_since_last_major_derog          367311                 78.773926
mths_since_last_record               403647                 86.566585

2. For all of the following variables, lets's replace the missing values with zeroes:

‘mths_since_earliest_cr_line’ --‘acc_now_delinq’ --‘total_acc’ --‘pub_rec’ --‘open_acc’ --‘inq_last_6mths’ --‘delinq_2yrs’ --‘emp_length_int’

In [ ]:
columns_to_fill = ['mths_since_earliest_cr_line', 'acc_now_delinq', 'total_acc', 'pub_rec', 'open_acc', 'inq_last_6mths', 'delinq_2yrs', 'emp_length_int']
loan_data[columns_to_fill] = loan_data[columns_to_fill].fillna(0)

In [ ]:
report_missing_data(loan_data)

                             missing_values  missing_value_percentage
annual_inc                                4                  0.000858
title                                    21                  0.004504
earliest_cr_line                         29                  0.006219
earliest_cr_line_date                    29                  0.006219
last_credit_pull_d                       42                  0.009007
collections_12_mths_ex_med              145                  0.031097
revol_util                              340                  0.072917
last_pymnt_d                            376                  0.080637
emp_length                            21008                  4.505399
emp_title                             27588                  5.916553
tot_cur_bal                           70276                 15.071469
tot_coll_amt                          70276                 15.071469
next_pymnt_d                         227214                 48.728567
mths_since_last_delinq               250351                 53.690554
desc                                 340304                 72.981975
mths_since_last_major_derog          367311                 78.773926
mths_since_last_record               403647                 86.566585

In [ ]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)
# We fill the missing values with the mean value of the non-missing values.

C:\Users\Himanshu Choudhary\AppData\Local\Temp\ipykernel_8448\1423679003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [ ]:
col=report_missing_data(loan_data)

Index(['title', 'earliest_cr_line_date', 'earliest_cr_line',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'revol_util',
       'last_pymnt_d', 'emp_length', 'emp_title', 'tot_cur_bal',
       'tot_coll_amt', 'next_pymnt_d', 'mths_since_last_delinq', 'desc',
       'mths_since_last_major_derog', 'mths_since_last_record'],
      dtype='object')